jenkins/setting_up/*.zip
jenkins/setting_up/*.tar.gz
jenkins/setting_up/traefik_certs/*
jenkins/setting_up/.cred.env
iac-terraform/.terraform.lock.hcl
iac-terraform/.terraform/*
notes.md
iac-terraform/terraform.tfvars
scripts/global-bundle.pem
scripts/cred.env
app-pet-shop/pet-shop/bin/*
eks/petshop.config
